<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <th:block th:replace="fragments/header :: header-head"/>
    </head>
    <body>
        <div th:replace="fragments/header :: header-navbar">
            Place for Thymeleaf Fragment Navbar
        </div>
        <div th:replace="fragments/header :: header-image">
            Place for Thymeleaf Fragment Header Image Container
        </div>
        <h4>MathRock Index page!</h4>
        <p th:text="${principalka.getUsername()}">object</p>>
        <div th:replace="fragments/header :: header-jsfiles"></div>
    </body>
</html>